@{
    ViewData["Title"] = "Onboarding Application - Food Order";
}

<div ng-controller="FoodMenuController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Onboarding Application - Food Order</h2>
            </div>
        </div>
       
        <hr/>

        <div ng-app="FoodOrderApp">
           <div ng-controller="FoodMenuController" ng-init="refresh()">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 col-md-6" ng-repeat="item in foodMenu.items">
                        <div class="food-item-wrapper">
                            <div class="image">
                                <!-- <img src="{{ item.ImageUrl }}" alt="">-->
                            </div>
                            <div class="details">
                                <div class="title">
                                    {{ item.Name }}
                                </div>
                                <div class="description">
                                    {{ item.Description }}
                                </div>
                                <div class="price">
                                    {{ item.Price | number: 2 }}
                                </div>
                            </div>
                            <div class="cart-icon">
                                <!-- <img src="{{ item.ImageUrl }}" ng-click="addToCart(item)" alt="">-->
                            </div>
                        </div>
                    </div>
                </div>
              </div>
           </div>
        </div>
    </div>
</div>